mixin nav()
    nav.main-nav
        ul
            li
                a(href="/")
                    img(src="/static/images/superheroes-logo.png")
            li
                a(href="/superheroes")
                    | List
            li
                a(href="/superheroes/create")
                    | Create
            if user
                =user.username
                a(href="/logout")
                    | Log out
            else
                a(href="/login")
                    | Log in
                a(href="/register")
                    | Register
    
