extends ../_shared/master

block head_scripts
    script(src="/static/js/add-to-favorites.js")

block content
    h1
        | #{superhero.name}
    p
        =superhero.secretIdentity
    p
        =superhero.story
    p
        =superhero.alignment.name
    ul
        each power in superhero.powers
            li
                =power.name
    a#btn-add-to-favorites.btn(href="#", data-id=superhero.id)
        if superhero.isFavorite
            | Remove from favorites
        else
            | Add to favorites

